# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# venv
.venv/

# Python
__pycache__/

# API keys and environment variables
.env

# Node modules
node_modules/

# Next.js build output
.next/